html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}


body {
	color: #444;
	font-family: arial;
}


ul {
	list-style-type: none;
	padding: 0;
}

#content {
	padding: 5px;
    display: none;
}

header {
    margin-bottom: 3px;
}

.frames {
    margin: 0;
}

#frame {
    position: relative;
}

#frame .wrapper {
    position: relative;
}

#output {
    font-size: 14px;
    position: relative;
    margin-bottom: 5px;
    border: 1px solid #888;
}

#output #topic {
    position: relative;
    min-height: 40px;
    padding: 5px;
    background-color: #e2e2e2;
    border-bottom: 1px solid #444;
    display: none;
    z-index: 2;
}

#output #messages {
    position: absolute;
    padding: 5px;
    overflow: auto;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#frame .gutter {
    position: absolute;
    background-color: #e2e2e2;
    border-right: 1px solid #888;
    width: 110px;
    left: 0;
    top: 0;
    height: 100%;
}

#frame.status .gutter {
    display: none;
}

/* Special message types */
#output .error {
    background-color: red;
}

#output .sender {
    color: #444;
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    z-index: 10;
}

#output .text {
    color: #222;
    display: block;
    margin-left: 115px;
    margin-bottom: 4px;
}

#frame.status .text.no-sender {
    margin-left: 0;
}

#sidebar {
    width: 200px;
    margin: 0 0 5px 5px;
    border: 1px solid #888;
    float: right;
    position: relative;
    display: none;
}

#sidebar .stats {
    position: relative;
    top: 0;
    height: 40px;
    background-color: #e2e2e2;
    border-bottom: 1px solid #888;
    display: none;
}

#sidebar .nicks {
    position: absolute;
    overflow: auto;
    padding: 5px;
    top: 0;
    /*top: 40px;*/
    bottom: 0;
    left: 0;
    right: 0;
}

#prime-input {
    font-size: 15px;
    position: relative;
    width: 99%;
    bottom: 0;
}

/* Twitter Bootstrap overrides
----------------------------------------------------------------------*/

.pills > li { margin-right: 6px; }
.pills > li > * { float: left; }

.pills > li > a {
    cursor: pointer;
    background: #e2e2e2;
    padding: 0 12px;
    margin: 0 1px 0 0;
    border-radius: 3px;
    line-height: 26px;
}
.pills > li > a.channel,
.pills > li > a.pm {
    border-radius: 3px 0 0 3px;
}

.pills > li > .close-frame {
    cursor: pointer;
    background: #e2e2e2 url(images/close.png) no-repeat center center;
    width: 18px;
    height: 26px;
    border-radius: 0 3px 3px 0;
}

.pills .active .close-frame {
    background-color: #0069d6;
}

.pills > li:hover > a,
.pills > li:hover > .close-frame {
    color: white;
    text-shadow: 0;
    background-color: #00438a;
}
